#foodMenuHeading::after {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 4px;
  background: #f97316;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#container > div {
  transform: scale(0.97);
  box-shadow: 1px 1px 33px 1px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}

/* ------------------------- */

#container > div:hover {
  transition: all 0.8s ease;
  transform: scale(0.97);
  box-shadow: 1px 1px 54px 1px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  /* background: #f1f1fb; */
  background: #f97316;
}

#container > div:hover > span:last-child {
  transition: all 0.8s ease;
  color: white;
}

#container > div:hover > span:first-child {
  transition: all 0.8s ease;
  background-color: #0c1b6e;
}

#container > div > span:last-child {
  transition: all 0.8s ease;
}

#container > div > span:first-child {
  transition: all 0.8s ease;
}

#container > div {
  /* position: relative;
  display: flex;
  gap: 24px;
  align-items: center;
  flex-direction: column;
  background: #efeffc;
  width: 380px;
  height: 405px;
  box-shadow: -23px -23px 45px #ffffff, 28px 28px 50px rgba(13, 39, 80, 0.16);
  border-radius: 25px; */
  transition: all 0.8s ease;
}
