#foodMenuHeading::after {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 4px;
  background: #7461e2;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
