@media (max-width: 800px) {
  table {
    width: 570px;
  }
}

span {
  margin-left: 4px !important;
}

#txtSearchItem + fieldset > legend {
  width: 0px !important;
}

#cmbItemType + input + svg + fieldset > legend {
  width: 108px !important;
}
