#scroll_up_btn {
  position: fixed;
  opacity: 0.8;
  right: 23px;
  bottom: 19px;
  z-index: 996;
  background: #7461e2;
  width: 35px;
  height: 35px;
  border-radius: 4px;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scroll_up_btn:hover {
  opacity: 1;
  transform: translateY(-10px);
}

#scroll_up_btn > svg {
  font-size: 25px;
  color: #fff;
}
