@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  h1 {
    @apply text-xl sm:text-2xl md:justify-center font-bold font-poppins;
  }

  * {
    font-family: "Poppins", sans-serif;
  }

  * {
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
  }

  body {
    height: 1250px;
  }

  :root {
    --font-regular: 400;
    --font-semi-bold: 600;
  }

  ::-webkit-scrollbar {
    width: 8px;
    background: #e9e9e9;
    /* background: #2f2b2b; */
  }

  ::-webkit-scrollbar-thumb {
    background: #f97316;
    border-radius: 5px;
  }

  html {
    scroll-behavior: smooth;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    background: transparent;
  }
}
