/*====================== Header Section ======================*/

header > div > ul > a:hover,
#optionList > button:hover {
  transition: all 0.5s ease;
  transform: scale(1.1) translateZ(0px);
}

#optionList > button:hover > * {
  transition: all 0.5s ease;
  transform: scale(1.1) translateZ(0px);
}

header > div > ul > a {
  transition: all 0.5s ease;
  transform: none;
}

/* ----------------------- */
#optionList > a:hover {
  color: #f97316;
}

#optionList > a::after {
  content: "";
  display: block;
  width: 0;
  height: 5px;
  background-color: #f97316;
  border-radius: 26%;
  transition: width 0.3s;
}

#optionList > a:hover::after {
  width: 43%;
  transition: width 0.3s;
}

#loginContainer:hover {
  transition: all 0.5s ease;
  transform: scale(1.15) translateZ(0px);
}

#loginContainer {
  transition: all 0.5s ease;
  transform: none;
}

/* @supports (
    -webkit-backdrop-filter: blur(30px) saturate(160%) contrast(45%) brightness(140%)
  )
  or (backdrop-filter: blur(30px) saturate(160%) contrast(45%) brightness(140%)) {
  header {
    transition: all 0.5s ease-in-out;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%)
      brightness(140%);
  }
} */

header {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.075);
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
}
